*{
    margin: 0;
    padding: 0;
}
#wrapper{
    width: 1024px;
    margin: 0px auto;
}

h1,h2,h3 {
    font: bold 12px/18px,
    Times new Roman, Arial, Serif;
    color: red;
}

p{
    text-indent: 15px;
    color: #00FF00;
}

p span.alert{
color: red

}